

<div class="container ">
    <div class="row text-center logo">
        Cognizant
    </div>
    <div class="row searchbar" >
        <div class="col-md-2">
            <!-- 1-2 -->

        </div>
        <div class="search col-md-8">
            <!-- <div class="input-container">
                
                <input class="input-field" type="text" name="search" placeholder="Search...">
                <i class="fa fa-microphone icon"></i>
                <i class="fa fa-camera icon"></i>
            </div> -->

            <form class="form-horizontal">  
                <div class="form-group  has-feedback"><!-- 
                  <label class="col-sm-2 control-label" for="searchbox"></label> -->
                  <div class="col-sm-12">
                    <input type="text" placeholder="Search..." class="form-control" id="searchbox">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    <span class="glyphicon glyphicon-camera form-control-feedback"></span>
                    
                  </div>
                </div>
            </form>
        </div> 
        
        
        <div class="col-md-2">
            <!-- 2-3 -->

        </div>     
    </div>

    <!-- <div class="row spacebar" >

    </div> -->

   <div class="row " >    
    <div class="col-md-6 text-center ">
        
        <div class="panel panel-primary recom">
            <!-- <div class="panel-heading">Reccommondation</div> -->
            <div class="panel-body">Reccommondation</div>
        </div>
    </div>
    <div class="col-md-6 text-center border">
        <div class="panel panel-primary recom" >
            <!-- <div class="panel-heading">Reccommondation</div> -->
            <div class="panel-body">Trending</div>
        </div>
    </div>
   </div>
    
    
    
</div>    





