<div class="container">
    <div class="d-flex justify-content-center google-img">
        <a href="https://www.cognizant.com"><img src="./assets/logo.jpg" alt="dd" width="180"></a>
    </div>
    
    <div class="search-content">
        <form action="https://www.google.com/search" method="get" class="search-bar">
            <input type="text" placeholder="Search..." name="q">
            <button type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Seach"><i class='fa fa-search fa-lg'></i></button>
            <button type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search by voice"><i class='fa fa-microphone fa-lg'></i></button>
            <button type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search by camera"><i class='fa fa-camera fa-lg'></i></button> 
        </form>
        
    </div>

    <div class="row " >    
        <div class="col-md-2">
    
        </div>
        <div class="col-md-4 text-center  recom">            
            <div class="footer">
                <!-- <div class="panel-heading">Reccommondation</div> -->
                <div class="panel-body ">Recommendation</div>  
            </div><br>
            <div class="footer">
                <div class="panel-body ">Recommendation</div>  
            </div><br>
        </div>
        <div class="col-md-4 text-center  trend">
            <div class="footer">
                <!-- <div class="panel-heading">Reccommondation</div> -->
                <div class="panel-body">Trending</div>
            </div><br>
            <div class="footer">
                <div class="panel-body">Trending</div>
            </div>
        </div>
        <div class="col-md-2">
    
        </div>
    </div>
</div>

<!-- <div style="margin: 100px;">
    <h1>Voice recognition</h1>
    <button style="margin: 10px;" (click)="startService()">Start</button>
    <button style="margin: 10px;" (click)="stopService()">Stop</button>
    <p>{{service.text}}</p>
</div> -->

<!-- <app-login></app-login> -->

<!-- <app-seargoogle></app-seargoogle> -->
